<main class="form-shr">
    <form action="/forgot-password" method="post">
        <img class="mb-4" src="/images/logo.png" alt="" width="50%" height="50%">
        <h1 class="h3 mb-3 fw-normal">Please enter your email</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Send reset password email</button>
    </form>
</main>
