<main class="form-shr">
    <form action="/signup" method="post">
        <a href="/"><img class="mb-4" src="/images/logo.png" alt="" width="50%" height="50%"></a>
        <h1 class="h3 mb-3 fw-normal">Create a user account</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="fullName" placeholder="Cayde-6">
            <label for="floatingInput">Full Name</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
</main>
