<div class="fourohfour">
    <main>
        <div class="main">
            <h1>
                No beaver error but...
            </h1>
            <h3>
                <% if (typeof error !== 'undefined') { %>
                    <%= error ;%>
                <% } else { %>
                    The page you were trying to reach doesn't exist.
                <% } %>
            </h3>
        </div>
    </main>
</div>
