<main class="form-shr">
    <form action="/post" method="post">
        <div class="form-floating">
            <input type="title" class="form-control" id="floatingInput" name="title" placeholder="Title">
            <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="floatingPassword" name="body" placeholder=""></textarea>
            <label for="floatingPassword">What's in your mind</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Post</button>
    </form>
</main>
