<h3 class="pb-4 mb-4 fst-italic border-bottom">
    What's new?
</h3>
<% if(me) { %>
    <div class="col-md-4">
        <a class="btn btn-sm btn-outline-secondary" href="/post/create">Create</a>
    </div>
<% } %>

<%
if(posts.length === 0) {
%>
    <div>No posts yet!</div>
<%
} else {
posts.forEach(function(post){ %>
    <%- partial('partials/post.ejs', {post, s}); %>
<% });
} %>

